body{
    font-size: large;
    font-weight: 300;
    background-color: rgb(104, 0, 104);
    height: 1050px;
}

header{
    background-color: rgb(0, 0, 0);
    width: 40%;
    background-image: url("https://duckduckgo.com/assets/logo_homepage.alt.v108.svg");
}